<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover">
    <title>สำนักงานยุติธรรมจังหวัดนครปฐม</title>

</head>

<body>

    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script>
        async function main() {
            await liff.init({ liffId: "1657328474-zvYg3VvY" })
            await liff.shareTargetPicker([
                {
                    type: "flex",
                    altText: "ข้อความจากสำนักงานยุติธรรมจังหวัดนครปฐม",
                    contents:
                    {
                        "type": "bubble",
                        "hero": {
                            "type": "image",
                            "url": "https://i.imgur.com/jEFnX8c.jpg",
                            "size": "full",
                            "aspectRatio": "1:1.006",
                            "aspectMode": "cover",
                            "action": {
                                "type": "uri",
                                "uri": "https://www.facebook.com/profile.php?id=100069343383933"
                            }
                        },
                        "body": {
                            "type": "box",
                            "layout": "vertical",
                            "spacing": "md",
                            "contents": [
                                {
                                    "type": "text",
                                    "text": "สำนักงานยุติธรรมจังหวัดนครปฐม",
                                    "size": "17px",
                                    "weight": "bold",
                                    "offsetTop": "-5px"
                                },
                                {
                                    "type": "box",
                                    "layout": "baseline",
                                    "contents": [
                                        {
                                            "type": "icon",
                                            "url": "https://i.imgur.com/F7HP6WW.png",
                                            "offsetTop": "xs"
                                        },
                                        {
                                            "type": "text",
                                            "text": "034 - 213169",
                                            "size": "sm",
                                            "margin": "md",
                                            "color": "#595959"
                                        },
                                        {
                                            "type": "text",
                                            "text": "กดโทร",
                                            "align": "end",
                                            "action": {
                                                "type": "uri",
                                                "label": "034-213169",
                                                "uri": "tel:034213169"
                                            },
                                            "offsetEnd": "8px",
                                            "size": "md",
                                            "decoration": "underline",
                                            "color": "#0e46e5"
                                        }
                                    ]
                                },
                                {
                                    "type": "text",
                                    "text": "กดปุ่มเลือกรายการ",
                                    "color": "#707070",
                                    "size": "sm"
                                }
                            ],
                            "backgroundColor": "#f8f8e6"
                        },
                        "footer": {
                            "type": "box",
                            "layout": "vertical",
                            "contents": [
                                {
                                    "type": "button",
                                    "style": "primary",
                                    "color": "#905c44",
                                    "action": {
                                        "type": "uri",
                                        "label": "ลงทะเบียน",
                                        "uri": "https://docs.google.com/forms/d/e/1FAIpQLSeJOYHD2S3zkGOxK_HNGNJQXqKTBAQlXnsfWGJ4XxS5E8Pzpw/viewform?usp=sf_link"
                                    },
                                    "height": "sm"
                                },
                                {
                                    "type": "button",
                                    "style": "primary",
                                    "color": "#905c44",
                                    "margin": "md",
                                    "action": {
                                        "type": "uri",
                                        "label": "แชร์ให้เพื่อน",
                                        "uri": "https://liff.line.me/1657328474-zvYg3VvY"
                                    },
                                    "height": "sm"
                                },
                                {
                                    "type": "separator",
                                    "margin": "md",
                                    "color": "#f8f8e6"
                                }
                            ],
                            "backgroundColor": "#f8f8e6"
                        },
                        "styles": {
                            "body": {
                                "backgroundColor": "#f8f8e6"
                            },
                            "footer": {
                                "backgroundColor": "#f8f8e6"
                            }
                        }
                    }
                }
            ])
            liff.closeWindow()
        }
        main()
    </script>
</body>

</html>